main {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main .categories {
	display: flex;
	overflow: auto;
	overflow-y: hidden;
	flex-direction: row;
	align-items: center;
	margin-left: 20px;
	padding-right: 20px;
	height: 55px;
}

.categories .item-categories {
	cursor: pointer;
	height: 35px;
	margin: 12px;
	background-color: rgb(234, 232, 234);
	border: 1px solid rgb(199, 198, 199);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 0 15px;
	font-size: 16px;
	white-space: nowrap;
	border-radius: 16px;
	display: flex;
	align-items: center;
	transition-duration: 0.15s;
	transition-property: background-color;
	text-overflow: clip;
}

.categories .item-categories:hover {
	background-color: rgb(216, 215, 216);
}

.categories .item-categories:first-child:hover {
	background-color: rgb(33, 75, 201);
}

.categories .item-categories:first-child {
	background-color: royalblue;
	border: 1px royalblue;
	color: white;
}

main .categories::-webkit-scrollbar {
	height: 0px;
	width: 0px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	padding: 20px 0;
}

footer span {
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 10px;
}

.preview {
	display: flex;
	position: relative;
	display: flex;
	flex-direction: column;
}

.main-img {
	width: 100%;
	transition-duration: 0.7s;
}

.live-icon {
	cursor: pointer;
	position: absolute;
	z-index: 1000;
	height: 10%;
	top: 4%;
	left: 2%;
}

.badge {
	cursor: pointer;
	position: absolute;
	font-size: 15px;
	background-color: rgb(84, 79, 78);
	padding: 2%;
	border-radius: 10%;
	color: white;
	opacity: 0.85;
	top: 66%;
}

.hover-paw.fas.fa-paw {
	display: none;
}

.wrp-main-img:hover .main-img {
	filter: grayscale(100%);
}

.wrp-main-img:hover .hover-paw.fas.fa-paw {
	display: block;
	position: absolute;
	z-index: 1000;
	color: royalblue;
	font-size: 45px;
	top: 35%;
	left: 42%;
}

.vidio-container {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50px, 300px));
	grid-gap: 35px;
	justify-content: center;
}

.description {
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.description-wrp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 17px;
}



.name-vidio {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding-right: 50px;
	width: 100%;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition-duration: 0.2s;
}

.name-vidio span:hover {
	cursor: pointer;
	color: rgb(93, 122, 236);
}

.name-channel {
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: rgb(120, 120, 120);
	padding-top: 20px;
	transition-duration: 0.2s;
}

.name-channel span:hover {
	cursor: pointer;
	color: rgb(93, 122, 236);
}

.cat-img-wrp {
	padding-right: 6px;
}

.cat-img-wrp img {
	width: 100%;
	object-fit: cover;
}

.cat-img-wrp .circle {
	height: 30px;
	width: 30px;
}

.cat-img-wrp .circle:hover {
	cursor: pointer;
}

.badge.offlive {
	left: 82%;
}

.badge.live {
	left: 63%;
}
button > i {
    pointer-events: none;
} 
.my-eclipse{
    position: relative;
    left: 12px;
    font-weight:bold;
    font-size: 25px;
    transform: rotate(0.25turn);
}
@media All and (min-width:1200px) {
	main {
		padding-top: 60px;
		padding-left: 250px;
	}
}

@media All and (max-width:1200px) {
	main {
		padding-top: 60px;
		padding-left: 75px;
	}
}